<h1>Listing users</h1>

<table>
  <thead>
    
    <tr>
      <th>Nickname</th>
      <th>Email</th>
      <th>Level</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    
    <% @users.each do |user| %>
      <tr>       
        <td><%=user.nickname%></td>
        <td><%=user.email%></td>
        <td><%=user.lvl%></td>
        <td><%= link_to 'Show', user %></td>
        <%if ((current_user.id == user.id) || (current_user.admin?))%>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%elsif (current_user.id != user.id)%>
        <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
